#container {
    display: flex;
    flex-direction: row;
    height: 99%;
    width: 100%;
}

#infocol {
    width: 25%;
    height: 100%;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px 5px 5px 5px;
}

.form-label {
    font-size: 10px;
    color: gray;
    margin: 0 10px 0 0;
}

#controlrow {
    margin: 0 10px 0 10px;
    width: 99%;
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#drawcol {
    width: 99%;
    height: 100%;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#input-block {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    flex: 0 1 auto;
    border-right: 1px solid black;
    margin: 10px 10px 10px 10px ;
}

#randomlevel {
    width: 200px;
}

#input-block-enable {
    align-self: flex-start;
    margin-left: 20px;
}

#input-block-enable, #input-block-title, #input-block-btns {
    margin-top: 10px;
    margin-bottom: 10px;
}

#monocomp {
    display: flex;
    flex-direction: row;
    border-right: 1px solid black;
    height: 40px;
    align-items: center;
}

#mainsvg {
    width: 100%;
    height: 100%;
}

.bt-btn {
    cursor: pointer;
    margin: 0 8px 0 8px;
    font-size: 20px;
}

.bt-btn:active {
    transform: translateY(2px);
}

#triangulation {
    display: flex;
    flex-direction: row;
    margin: 0 0 0 10px;
    height: 40px;
    align-items: center;
}

#tri-label {
    width: 150px;
}